

.buttonProgress{

    position: absolute;
    top: 50%;
    left: 50%;
    margin-Top: -12px;
    margin-Left: -12px;
}

.PostDiv{

padding: 1px !important;
height:auto;

clear:both;

overflow: hidden;
border-bottom-left-radius: 50px !important;
    border-top-left-radius: 50px !important;
    min-height: 100px;

}
.PostAvatar{
    max-width: 100% !important;
    position: relative;
    width: 100px;
    margin-bottom: -138px;
    border-radius: 50%;
    /* z-index: 0; */
   
    height: 100px !important;
}
.attachicon{
    float: right;    margin-top: -78px !important;
    box-shadow: 0px 0px 0px black !important;
    background-color: transparent !important;
}
.PostTextArea {
 max-height:150px;
    resize: vertical;
    outline-width: 0px;
    padding-top:15px;
    padding-bottom:5px;
    padding-right: 35px;
    width: 100%;
    padding-left: 100px;
    border:0px solid;
    border-radius:50px;
    box-sizing: border-box;
    height: 105px;
    
}


.post{

    margin:10px;
}



@media only screen and (max-width: 500px) {
 
    .attachicon{
        margin-top: -68px !important;
    }
    .PostTextArea {
        height:60px;
        max-height:130px;
    }



        .PostDiv{

            min-height: 81px;
        }
    
        .PostAvatar {
    width:80px; height:80px !important;  
    margin-bottom: -118px;
    margin-left: 5px;
    }
    .attachicon{
        float: right;
        
    }
    








}

@media only screen and (max-width: 400px) {
 .PostBtn{

    
    right: -50px;
 }
    .PostDiv{

        min-height: 51px;
    }

    .PostAvatar {
width:50px; height:50px !important;  
margin-bottom: -89px;
margin-left: 5px;
}
.attachicon{
    float: right;
    margin-top: -55px !important;}


    .PostTextArea {
padding-left:60px;
        max-height:110px;}

        @media only screen and (max-width: 350px) {
 
            .PostTextArea {
                height:50px;
                max-height:100px;}
        }
}