.ProfileTab{
    text-shadow: 0px 0px 5px black;
    font-weight: 560 !important;
    width:50%;
}
.ProfileCover{
    width:100% !important;
    height:170px;
    cursor: pointer;
}

.UserProfilePic{
    cursor: pointer;
    width:100px !important;
    height:100px !important;
margin-top: -60px !important;
margin:10px;
    filter:drop-shadow(0px 0px 1px black);
    border:2px solid white;

}
.bigpicture.link.picture {
    display: block !important;
}
.UserBioData {
    text-transform: uppercase;
    font-weight: 550 !important;
}
.UserName{
    text-transform: uppercase;
    font-weight: 550 !important;
}
.AboutUser{
    box-shadow: 0px 0px 0px black !important;
}
.LoadingBio{
text-align: center !important;
}
.center-div
{
    filter:drop-shadow(0px 0px 2px black);
         position: absolute;
     margin: auto;
     z-index: 99999;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 100px;
     height: 100px;
}
